<div class="card">
<h2 class="card-header" [ngStyle]="{
  color: card.title.length < 5 ? 'black' : 'green',
  fontWeight: card.title.length < 7 ? '500' : '700'
}">{{ index }} {{ card.title }}</h2>

<p class="text" [ngClass]="{
  red: textColor === 'red',
  blue: textColor === 'blue',
  orange: textColor === 'orange'
}">{{ card.text }}</p>

<!-- <p class="text" 
[class.red]="textColor === 'red'"
[class.blue]="textColor === 'blue'"
[class.orange]="textColor === 'orange'"
>{{ mySampleText }}</p> -->

<p>{{ getInfo() }}</p>

<div class="btns">
  <button (click)="changeTitle()">Change title</button>
  <button (click)="card.title = 'Inline title'">Change inline title</button>
</div>

<div class="btns">
  <button (click)="textColor = 'red'">Text red</button>
  <button (click)="textColor = 'blue'">Text blue</button>
  <button (click)="textColor = 'orange'">Text orange</button>
</div>
<!-- <div>
  <input type="text" #myInput (input)="inputHandler(myInput.value)" [value]="title">
</div> -->

<div>
  <p>{{ cardDate | date:'dd MMM yyyy HH:mm' }}</p>
</div>

<div>
  <input type="text" [(ngModel)]="card.title" >
</div>

</div>