.card {
  padding: 0.5rem 1rem;
  border: 1px dashed #ccc;
  margin-bottom: 1rem;
  &-header{
    margin-bottom: 0.5rem;
  }
}

.btns {
  margin-bottom: 5px;
}

.text {
  font-size: 1.5rem;
  &.red {
    color: red;
  }
  &.blue {
    color: blue;
  }
  &.orange {
    color: orange;
  }
}